.footer {
	padding-top: 192px;
	background-color: #1D233F;
	color:#FFFFFF;
	@media (max-width: 1200.98px){
		padding:192px 40px 0;
	}
	@media (max-width: 762.98px){
		padding-top: 152px;
	}
	@media (max-width: 400.98px){
		padding:88px 24px 0;
	}
	// .footer__container

	&__container {
	}

	// .footer__write

	&__write {
	}

	// .footer__social

	&__social {
	}

	// .footer__copyright

	&__copyright {
		display: flex;
		justify-content: space-between;
		opacity: 50%;
		padding:192px 0 40px;
		font-weight: 300;
		@media (max-width: 375.98px){
			flex-direction: column;
			padding: 88px 0px 0px;
			span{
				padding-bottom: 7px;
			}
		}
	}
}

.write {
display: flex;
justify-content: space-between;
@media (max-width: 969.98px){
	display: block;
}
	// .write__email
	&__email {
		
	}
	// .write__button
	&__button {
		color: #1D233F;
		background-color: #3CCF91;
		width: 161px;
		height: 48px;
		border-radius: 4px;
		font-family: CeraPro;
		font-size: 16px;
		margin-top:40px;
		&:hover{
			background-color: #3ce59e;
		}
		@media (max-width: 375.98px){
			margin-top:24px;
		}
	}
}
.email-write {

	// .email-write__input
	&__input {
		color: #FFFFFF;
		background-color: #1D233F;
		font-family: CeraPro;
		font-size: 104px;
		border-bottom: 2px solid #3CCF91;
		padding-bottom: 24px;
		max-width: 884px;
		&::placeholder{
			color: #FFFFFF;

		}
		@media (max-width: 1440.98px){
			font-size: 80px;
			max-width: 680px;
		}
		@media (max-width:760.98px){
		width: 100%;
		font-size: 50px;
		}
		@media (max-width:520.98px){
			width: 100%;
			font-size: 38px;
			}
	}

	// .email-write__phone
	&__phone {
		padding-top: 40px;
		font-size: 22px;
		@media (max-width: 400.98px){
			font-size: 20px;
		}
	}
}
.social {
display: flex;
padding-top: 40px;
	// .social__link
	&__link {
		margin-right: 40px;
	a{
		color: #FFFFFF;
		font-weight: 300;
	}
	}
}