.portfolio {
	padding: 192px 0px;
	@media (max-width: 1440.98px){
		padding: 150px 0px;
	}
	// .portfolio__container
	&__container {
	}
	// .portfolio__head

	&__head {
	}

	// .portfolio__filter

	&__filter {
	}

	// .portfolio__items

	&__items {
		width: 1720px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin: 0px -12px;
		@media (max-width: 768.98px){
			margin: 0px 0px;
		}
		@media (max-width: 1740.98px){
		width: 100%;
		}
	}

	// .portfolio__column
	&__column {
		display: none;
		flex: 0 1 33.333%;
		padding: 0px 12px;
		margin-bottom: 72px;
		@media (max-width: 1440.98px){
			margin-bottom: 56px;
		}
		@media (max-width: 768.98px){
			padding: 0px;
		}
	}

	// .portfolio__card

	&__card {
	}
}

.title-block {
	padding: 0px 155px 24px;
	@media (max-width: 1440.98px){
		padding: 0px 192px 24px;
	}
	@media (max-width: 1024.98px){
		padding: 0 0 24px;
	}
	@media (max-width: 768.98px){
		padding: 0 0 24px 40px;
	}
	@media (max-width: 375.98px){
		padding: 0 0 24px 24px;
	}
	// .title-block__title
	&__title {
		font-family: CeraPro;
		font-size: 128px;
padding-bottom: 72px;
@media (max-width: 1440.98px){
	padding-bottom: 56px;
	font-size: 104px;
}
@media (max-width: 1440.98px){
	padding-bottom: 24px;
	font-size: 48px;
}
	}

	// .title-block__delimiter
	&__delimiter {
		height: 3px;
		background-color: #1D233F;
	}
}
.filter {
	padding: 0 232px 96px;
	font-size: 16px;
	font-weight: 500;
	@media (max-width: 1440.98px){
		padding: 0 192px 80px;
	}
	@media (max-width: 1024.98px){
		padding: 0 0 80px;
	}
	@media (max-width: 768.98px){
		padding: 0 0 80px 40px;
	}
	@media (max-width: 375.98px){
		padding: 0 0 56px 24px;
	}
	// .filter__list
	&__list {
		display: flex;
		justify-content: space-between;
		@media (max-width: 768.98px){
			// overflow: hidden;
			overflow-x: scroll;
		}
	}
	&__list::-webkit-scrollbar{
		width: 0;
	}
	// .filter__item
	&__item {
		cursor: pointer;
		@media (max-width: 768.98px){
			white-space: nowrap;
			margin-right: 50px;
		}
	}
	.active{
		color: #18B472;
	}
}

// .gallery {
// }
.item-card {
position: relative;
width: 544px;
@media (max-width: 1024.98px){
	width: 460px;
}
@media (max-width: 768.98px){
width: 100%;
}
@media (max-width: 375.98px){
	width: 375px;
}
	// .item-card__image
	&__image {
		padding-bottom: 24px;
	}
	&__bg {
		width: 544px;
	height: 544px;
	@media (max-width: 1024.98px){
		width: 460px;
		height: 460px;
		}
	@media (max-width: 768.98px){
		max-width: 768px;
		max-height: 768px;
		}
		@media (max-width: 450.98px){
			width: 375px;
			height: 375px;
		}
	}

	// .item-card__tags
	&__tags {
		padding-bottom: 16px;
		font-family: CeraPro;
		font-size: 14px;
		@media (max-width: 768.98px){
			padding-left:40px;
		}
		@media (max-width: 375.98px){
			padding-left:24px;
		}
		span{
			margin-right: 8px;
			padding: 9px;
			border-radius: 4px;
			background-color:#F1F1F4;
		}
	}

	// .item-card__title

	&__title {
		font-size: 22px;
		line-height: 35.2px;
		@media (max-width: 768.98px){
			padding-left:40px;
		}
		@media (max-width: 375.98px){
			padding-left:24px;
		}
	}
}
.image-icons {
	position: absolute;
	top: 37px;
	right: 24px;
	display: flex;
	flex-direction: column;
}
.image-icon {
	margin-bottom: 8px;
	width: 56px;
	height: 56px;
}
.show{
	display: flex;
}
