.project {
	background-color: #1D233F;
	color:#FFFFFF;
	padding-bottom: 40px;
	// .project__container

	&__container {
	}

	// .project__head

	&__head {
	}

	// .project__form

	&__form {
	}
}

.head-project {
padding: 152px 155px 0px;
@media (max-width: 1440.98px){
	padding: 152px 115px 0px;
}
@media (max-width: 1024.98px){
	padding: 152px 40px 0;
}
@media (max-width: 375.98px){
	padding: 88px 24px 0;
}
	// .head-project__title
	&__title {
		font-family: CeraPro;
		font-size: 104px;
		@media (max-width: 1440.98px){
			font-size: 80px;
		}
		@media (max-width: 375.98px){
			font-size: 38px;
		}
	}

	// .head-project__subtitle
	&__subtitle {
		padding-top: 24px;
		font-size: 22px;
		span{
			color: #18B472;
		}
		@media (max-width: 375.98px){
			font-size: 20px;
		}
	}
}
.form {
	padding: 96px 267px 0px;
	@media (max-width: 1440.98px){
		padding: 96px 227px 0px;
	}
	@media (max-width: 1024.98px){
		padding: 96px 40px 0px;
	}
	// .form__body
	&__body {
		position: relative;
		&:after{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background:#1d233f8a url('./../img/icons/preloader.svg') center/150px no-repeat;
			z-index: 10;
			opacity: 0;
			visibility: hidden;
		}
	}
	&__body._sending{
		&:after{
		opacity: 1;
		visibility: visible;
	}
	}

	// .form__title

	&__title {
		padding-bottom: 24px;
		font-size: 22px;
		@media (max-width: 375.98px){
			font-size: 20px;
		}
	}

	// .form__item
	&__item {
		padding-bottom: 40px;
	}

	// .form__input

	&__input {
		width: 100%;
		height:56px;
		border-radius: 4px;
		background-color: #1D233F;
		color: #FFFFFF;
		font-size: 16px;
		font-family: CeraPro;
		border-bottom:1px solid #3A415F;
	}

	.form__input:focus{
		box-shadow: 0 0 15px #3A415F;
	}

	.form__input._error{
		box-shadow: 0 0 15px red;
	}

	// .form__label
	&__label {
		padding: 42px 0 30px;
	}

	// .form__submit
	&__submit {
	}
}
.file {
	// .file__item
	&__item {
		align-items: center;
		position: relative;
		display: flex;
		font-size: 16px;
	}

	// .file__input
	&__input {
		position: absolute;
		top: 0;left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		font-size: 0;
		cursor: pointer;
	}

	// .file__button
	&__button {
		display: flex;
		align-items: center;
		border: 1px solid #3A415F;
		width: 177px;
		height: 48px;
		border-radius: 4px;
		img{
			padding:0 17px 0 14px;
		}
	}

	// .file__text
	&__text {
		padding-left:24px;
		opacity: 50%;
	}

	// .file__preview
	&__preview {
		padding-left: 12px;
		font-size: 30px;
		color: #3CCF91;
	}
}
.options {
	display: flex;
@media (max-width: 992.98px){
	overflow-x: scroll;
	margin-right: -40px;
}
	// .options__item
	&__item {
	}
}
.options::-webkit-scrollbar{
	width: 0;
}

.btn-check {
	display: none;
}

.btn-check:checked + .btn {
		border: 1px solid #18B472;
	}

.btn {
	font-size: 22px;
	border: 1px solid #3A415F;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
	margin-right: 20px;
	white-space: nowrap;
}

.submit {
	width: 100%;
	align-items: center;
	font-size: 16px;
	display: flex;
	@media (max-width: 768.98px){
	display: block;
	}
	// .submit__button
	&__button {
		min-width: 177px;
		height: 48px;
		background-color: #3CCF91;
		color: #1D233F;
		border-radius: 4px;
		font-family: CeraPro;
	&:hover{
		background-color: #3ce59e;
	}
	}

	// .submit__text
	&__text {
		white-space: nowrap;
		padding-left:24px;
		opacity: 50%;
		@media (max-width: 1640.98px){
			white-space:unset;
		}
		@media (max-width: 768.98px){
		padding: 24px 0px 0px 0px;
	}
	}
}